DB_HOST=mysql-1b7c4ecd-ankitsharma91381-18a2.h.aivencloud.com
DB_PORT=27173
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=defaultdb

ADMIN_EMAIL=
ADMIN_PASSWORD=
API_URL=https://opinion-backend-5ipv.onrender.com
FRONTEND_URL=http://localhost:5173
